<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title ariel_family" id="log-inModalLabel">Log-in</h5>
    </div>
    <div class="modal-body">
      <% if flash[:error] %>
        <p class="Flash-error">
          <%= flash[:error] %>
        </p>
      <% end %>
      <section>
        <%= form_with url: sessions_path do |form| %>
          <div class="inputContainer">
            <p class="log-inLabel ariel_family">Email</p>
            <%= form.email_field :email, class: "input-section", autofocus: true, placeholder: "xxx@email.com"  %>
          </div>
          <div class="inputContainer">
            <p class="log-inLabel ariel_family">Password</p>
            <%= form.password_field :password, class: "input-section",placeholder: "Password" %>
          </div>
          <br>
          <br>
          <div class="Form-section">
            <%= form.submit "Log-in", class: "loginButton" %>
          </div>
          <br>
          <br>
          <hr>
          <h3 class="signupButton ariel_family"> Create a new user <%= link_to "sign-up", new_user_path %> here </h3>
        <% end %>
      </section>
      <br><br>
    </div>
  </div>
</div>
