
<div class="mengrid-container" style="z-index:-1">
    <div>
      <a class="Addmenu-text" onclick="document.getElementById('addnew-menu').style.display='block'" style="width:auto;"> + Add new menu </a>

    </div>
    <% MenuCategory.get_menuCategories.sort.each do |menu|%>
      <div class="menus-text">
        <p class="menuName"><%=menu.menu_name.capitalize()%></p>

        <p>
          <a class="changeMenu" onclick="document.getElementById('edit-menu<%=menu.id%>').style.display='block' " style="width:auto;"> Edit </a> |
          <%=link_to "Delete",menu_category_path(menu.id),method: :delete,class:"changeMenu delete" %></p>
        <hr>
        <%if(menu.available_time_begin)%>
          <p><%= "#{menu.available_time_begin.strftime("%l:%M %P")} - #{menu.available_time_end.strftime("%l:%M %P")}" %> </p>
        <%end%>
        <p class="menuItemcount">Items: <%=menu.menu_items.count%></p>
        <p>
          <% if menu.active %>
            <%=link_to "Active",activate_menu_path(menu.id,active: false),method: :patch,class:"activebutton"%>
          <%else%>
            <%=link_to "Inactive",activate_menu_path(menu.id,active: true),method: :patch,class:"activebutton inactive"%>
          <%end%>
        </p>
        <p class="viewItem-text"> <%= link_to "View items",menu_category_path,class:"viewItem-link"%> </p>
      </div>

      <div id="edit-menu<%=menu.id%>" class="addMenu-modal">
        <%= form_with(model: menu, class: "menuview-modal-content menuview-animate") do |form| %>
          <div class="cancel-imgcontainer">
            <span onclick="document.getElementById('edit-menu<%=menu.id%>').style.display='none'" class="close" title="Close Modal">&times;</span>
          </div>

          <%= render partial: 'admins/editMenu',locals:{form: form}%>

          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('edit-menu<%=menu.id%>').style.display='none'" class="cancelbtn">Cancel</button>
          </div>
        <% end %>
      </div>
    <% end %>

</div>


<div id="addnew-menu" class="addMenu-modal">
  <%= render partial: "admins/addNewMenu" %>
</div>



<script>
  var modal = document.getElementById('addnew-menu1');


  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }


</script>
