<%= form_with  url: menu_items_path, method: :post, class: "menuview-modal-content menuview-animate" do |form| %>
    <div class="cancel-imgcontainer">
      <span onclick="document.getElementById('addnew-item').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="addMenu-container">
      <p>Item name * </p>
      <%= form.text_field :item_name, class: "addMenu-input-section", type: "text",autofocus: true, placeholder: "Category name", required: true %>

      <p>Price</p>
      <%= form.number_field :price, class: "addMenu-input-section", required:true%>

      <p>Description</p>
      <%= form.text_area :description, class: "addMenu-input-section", maxlength:"50" %>

      <p class="addMenu-checkbox-text">active <%= form.check_box :active,value: true,class: "addmenu-checkbox" %></p>

      <%= hidden_field_tag "category_id", category_id %>
      <%= form.submit "ADD", class: "addMenu-Button" %>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('addnew-item').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
<% end %>
