<div class="modal-dialog modal-dialog-centered">
  <%if @current_user and @current_user.role=="admin"%>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_accountLabel">Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: change_password_path, method: :delete do |form| %>
          <div class="passwordinputContainer">
            <p class="log-inLabel ariel_family">Old-password</p>
            <%= form.password_field :old_password, class: "passwordinput-section", autofocus: true, placeholder: "Old-password" %>
          </div>
          <div class="passwordinputContainer">
            <p class="log-inLabel ariel_family">New-password</p>
            <%= form.password_field :new_password, class: "passwordinput-section",placeholder: "New-password"%>
          </div>
          <br>
          <br>
          <div class="Form-section">
            <%= form.submit "Change password", class: "changeButton" %>
          </div>
          <br>
          <br>
          <hr>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </div>
        <% end %>
  <%else%>
    <%= form_with url: path, method: url_method do |form| %>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete_accountLabel">Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <%= form.password_field :password, class: "form-control" %>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </div>
    <% end %>
  <%end%>
</div>
