
<div>
  <% if @current_user %>
    <%if @current_user.cart_items.all.empty?() %>
      <div class="emptyCart">
        <p class="emptyCartText"> Empty Cart </p>
      </div>
    <% else %>
      <div class="cart-items border-shadow">
        <div class="flexDisplay">
          <p class="cartname-text">Cart</p>
          <%= link_to "clear", cart_deleteitems_path, method: :delete, type:"button", class:"clearCart"%>
        </div>
        <p class="cartitem-text"> <%= CartItem.all.count %> Item </p>
        <hr class="cart-hr">
        <div class="container">
          <div class="row">
            <% total = 0 %>
            <% @current_user.cart_items.all.each do |item|%>
              <div>
                <div class="col cart-itemsName">
                  <%= item.menu_item_name.capitalize() %>
                </div>
                <div class="col cart-secondCol">
                  <% price = MenuItem.find(item.menu_item_id).price * item.menu_item_quantity%>
                  ₹ <%= price %>
                  <% total += price%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr class="cart-hr">
        <p class="subtotal-text">Subtotal:</p> <p class="subtotal-price"> ₹ <%= total %> </p>
        <div class="subtotal">
          <br><br>
          <%= form_with url: orders_path do |form| %>
              <p class="selctTitle-text">Address:</p>
              <% if Address.isUserHasAddress(@current_user.id)==0 %>
                <%= link_to  "Add address", new_address_path ,type:"button", class: "addAddress-cart" %>
                <p class="selctTitle-text">Payment:</p>
                <%= select_tag "payment", raw("<option>Cash only</option>"), class:"selectPayment-section", disabled: true%>
                <%= form.submit "Place Order", class: "cart-button", disabled: true  %>
              <% else %>
                <%= form.select(:address,
                  options_for_select(@current_user.addresses.collect{ |add| ["#{add.door_no}, #{add.address.capitalize()}, #{add.city.capitalize()} : #{add.postal_code}", add.id] }, class:"optionAddress-section"),
                  {}, { :class => 'selectAddress-section' })
                %>
                <p class="selctTitle-text">Payment:</p>
                <%= select_tag "payment", raw("<option>Cash only</option>"), class:"selectPayment-section", disabled: true%>
                <%= form.submit "Place Order", class: "cart-button"  %>
              <%end%>
            <%end%>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class="emptyCart">
        <p class="emptyCartText"> Empty Cart </p>
      </div>
  <% end %>
</div>
