<!DOCTYPE html>
<html>
  <head>
    <title>South India</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if @current_user && @current_user.role=="admin"%>
      <div class="adminprofile-section fixed-top" >
        <div class="details-section">
          <h1 class="user-name"><%= @current_user.first_name + " " + @current_user.last_name%></h1>
          <h5 class="user-email"><%= @current_user.email %></h5>
          <h5 class="user-phone_number">+91-<%= @current_user.phone_number %></h5>
        </div>
        <div class="message-info">
          <% if flash[:error] %>
            <p class="Flash-error">
              <%= flash[:error] %>
            </p>
          <%elsif flash[:info]%>
            <p class="Flash-info">
              <%= flash[:info] %>
            </p>
          <% end %>
        </div>

        <button class="btn btn-primary editprofile-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Edit Profile</button>
        <button type="button" class="btn btn-primary deleteprofile-button" data-bs-toggle="modal" data-bs-target="#change_password" >Password</button>
      </div>

      <div class="modal fade" id="change_password" tabindex="-1" role="dialog" aria-labelledby="change_passwordLabel" aria-hidden="true">
        <%= render partial: "users/password_authendicate" %>
      </div>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <%= render partial: "users/edit", locals: {
          user: @current_user
        }%>
      </div>


      <div class="padding_top" style="position: fixed">
        <div id="mySidenav" class="sidenav">
          <%= link_to "Menus",admin_menu_path,class:"hoverlink menu"%>
          <%= link_to "Order",admin_order_path,class:"hoverlink order"%>
          <%= link_to "Users",show_all_users_path(role: "admin"),class:"hoverlink user" %>
          <%= link_to "Log_out",destroy_session_path, method: "delete",class:"hoverlink log_out"%>
        </div>
      </div>
    <% elsif (request.path!="/edit")%>
        <nav class="navbar fixed-top  navbar-dark bg-dark">
          <%= link_to "SI", "/", class: "navbar-brand title-style"%>
          <% if @current_user %>
            <%if @current_user.role == "clerk"%>
              <%= link_to "Orders",admin_order_path,class:"clerkorder"%>
              <%= link_to "Log-out", destroy_session_path, method: "delete",class:"clerklog_out" %>
            <% else %>
              <div class="dropdown position-section">
                <button class="dropbtn"><%= @current_user.first_name %></button>
                <div class="dropdown-content" >
                  <%= link_to "Profile", profile_user_path%>
                  <%= link_to "Log-out", destroy_session_path, method: "delete" %>
                </div>
              </div>
            <%end%>
          <% elsif request.path!="/signin"%>
            <%= link_to "log_in", new_sessions_path, class: "btn btn-primary position-section"%>
          <% end %>
        </nav>
    <% end %>


    <%= yield %>
  </body>
</html>
