<!DOCTYPE html>
<html>
  <head>
    <title>Trend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to "Trend", "/", class: "navbar-brand"%>
    </nav>

    <%= yield %>
  </body>
</html>
