<!DOCTYPE html>
<html>
  <head>
    <title>Trend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to "Trend", "/", class: "navbar-brand"%>
      <% if @current_user %>
        <div class="dropdown">
          <button class="dropbtn"><%= @current_user.first_name %></button>
          <div class="dropdown-content">
            <%= link_to "sign-out", destroy_session_path, method: "delete" %>
          </div>
        </div>
      <% elsif request.path!="/signin"%>
        <%= link_to "sign-in", new_sessions_path %>
      <% end %>
    </nav>

    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>

    <%= yield %>



  </body>
</html>
