<!DOCTYPE html>
<html>
  <head>
    <title>Trend</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu|Lora">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if @current_user && @current_user.role=="admin"%>
      <div class="padding_top">
        <div id="mySidenav" class="sidenav">
          <%= link_to "Menus",admin_menu_path,class:"hoverlink menu"%>
          <%= link_to "Order","#",class:"hoverlink order"%>
          <%= link_to "Profile","#",class:"hoverlink profile"%>
          <%= link_to "Users","#",class:"hoverlink user"%>
          <%= link_to "Log_out",destroy_session_path, method: "delete",class:"hoverlink log_out"%>
        </div>
      </div>
    <% elsif (request.path!="/edit")%>
        <nav class="navbar fixed-top  navbar-light bg-light">
          <%= link_to "Trend", "/", class: "navbar-brand title-style"%>
          <% if @current_user %>
            <div class="dropdown position-section">
              <button class="dropbtn"><%= @current_user.first_name %></button>
              <div class="dropdown-content" >
                <%= link_to "Profile", profile_user_path%>
                <%= link_to "Log-out", destroy_session_path, method: "delete" %>
              </div>
            </div>
          <% elsif request.path!="/signin"%>
            <%= link_to "log_in", new_sessions_path, class: "btn btn-primary position-section"%>
          <% end %>
        </nav>
    <% end %>


    <%= yield %>
  </body>
</html>
